.container{
    width: 100%;
    height: 400px;
    margin: 34px 0px;
    display: flex;
    margin-bottom: 250px;
    
}
.health-left{
    display: flex;
    align-items: center;
}
.health-left img {
    width: 735px;
    margin-left: 127px;
    -webkit-animation: mover 1s infinite ease-in-out alternate;
    animation: mover 1s infinite ease-in-out alternate;
}

/* Healath left side image Animation */
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
.health-right {
        margin: 10px 47px;
        padding: 0px 10px;
    
}
.health-right h1{
    font-size: 50px;
    text-transform: capitalize;
}

.health-right p{
    color: hsl(0deg 0% 53.54%);
    padding: 0px 22px;
}

.health-icon {
    margin: 48px 46px;
    width: 100%;
}
.health-icon p{
    color: hsl(0deg 0% 0% / 60%);
}
.health-fruits-icons{
    display: flex;
    margin: 10px 10px;
}
.health-cooldrinks-icons{
    display: flex;
    margin: 10px 10px;

}
.health-vegitable-icons{
    display: flex;
    margin: 10px 10px;

}


/* Responsive Section */

/*Resposive Style*/

/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .health-left img {

    }

}

/* Medium devices (tablets, 601px to 900px) */
@media only screen and (min-width: 601px) and (max-width: 900px) {
    .health-left img {
        margin-left: 63px;
        width: 426px;
    }
    .health-icon {
        margin: -13px -468px;
        width: 348%;
    }
    

    .container {
        width: 100%;
        height: 800px;
     
        margin-bottom: 241px;
    }
  
}
@media only screen and (min-width: 900px) and (max-width: 1200px) {
    .health-left img {
            margin-left: 63px;
            width: 426px;
    }
    .health-icon {
        margin: 126px -402px;
        width: 236%;
    }
    

    .container {
        width: 100%;
        height: 713px;
        margin: 3px 0px;
        margin-bottom: 241px;
    }
    

}


@media only screen and (min-width: 852px) and (max-width: 899px) {
    .health-icon {
        margin: 0px -401px;
        width: 275%;
    }
}


@media only screen and (min-width: 900px) and (max-width: 940px) {
    .health-icon {
        margin: 51px -402px;
        width: 236%;
    }
    .container {
        height: 745px;    
    }
}


@media only screen and (min-width: 1200) and (max-width: 1400) {
    
    .health-left img {
        width: 548px;
        margin-left: 109px;
}
}
/* Large devices (desktops, 901px and up)
@media only screen and (min-width: 901px) {
    
    .health-left img {
        
    }
} */




/* 

@media (width: 1268px) {
    .health-left img {
        width: 400px;
        margin-left: 127px;
        -webkit-animation: mover 1s infinite ease-in-out alternate;
        animation: mover 1s infinite ease-in-out alternate;
    }
    
    @-webkit-keyframes mover {
        0% { transform: translateY(0); }
        100% { transform: translateY(-10px); }
    }
    
    @keyframes mover {
        0% { transform: translateY(0); }
        100% { transform: translateY(-10px); }
    }
    .health-icon {
        margin: 48px 46px;
        width: 188%;
        
    }
    .health-icon p {
        font-size: 10px;
    }
    .health-fruits-icons{
        display: flex;
        font-size: 14px;
       
    }
    .health-cooldrinks-icons{
        display: flex;
        
    
    }
    .health-vegitable-icons{
        display: flex;
       
    
    }
  
  }

  

  @media only screen and (max-width: 600px) {

    .health-left img {
        width: 150px;
        margin-left: 25px;
        -webkit-animation: mover 1s infinite ease-in-out alternate;
        animation: mover 1s infinite ease-in-out alternate;
        display: inline;
    }
    
    @-webkit-keyframes mover {
        0% { transform: translateY(0); }
        100% { transform: translateY(-10px); }
    }
    
    @keyframes mover {
        0% { transform: translateY(0); }
        100% { transform: translateY(-10px); }
    }
    .health-right h1{
        font-size: 25px;
        text-transform: capitalize;
    }
    .health-right {
        width: 100%;
        display: inline;
       
    }
    .health-icon {
        display:inline;
        margin: 0px 0px;
        padding: 0px 0px;


    }
    .health-icon p{
    font-size: 10px;
       
    }
    .health-icon p{
     width: 200px;
    }
  } */