.foodimage-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .foodimage {
    margin: 26px 0 26px 0;
    background: #f1f7fc;
    text-align: center;
    width: 100%;
    padding: 12px 0px;
    
  }
  .foodimage input{
    margin: 17px;
   
  }
  .foodimage button{
    margin-right: 10px;
    border: none;
    background: hsla(115.2deg, 83.89%, 29.22%);
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }

  input[type=file]::file-selector-button {

    margin-right: 10px;
    border: none;
    background: hsla(115.2deg, 83.89%, 29.22%);
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  input[type=file]::file-selector-button:hover {
    background: rgb(27, 175, 14);
  }

  .uploaded-image{
    max-width: 450px;
    border-radius: 19px;
  }

  .response-container {
    background: #16890c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    width: 100%;
}
.response-result{
    width: 74%;
    display: flex;
    background: #0c9900;
    border-radius: 20px;
    padding: 7px 21px;
    margin: 14px 0px;
}
.loading-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

/*Resonsive styles**/

/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .uploaded-image{
        max-width: 390px;
    }

}

/* Medium devices (tablets, 601px to 900px) */
@media only screen and (min-width: 601px) and (max-width: 900px) {
    
    .uploaded-image{
        max-width: 390px;
    }

}
@media only screen and (min-width: 900px) and (max-width: 1200px) {
   


}

/* Large devices (desktops, 901px and up) */
@media only screen and (min-width: 901px) {
    

}