.login-container{
    display: flex;
    flex-direction: column;
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 2%, 84%, 0.396);
    width: 28%;
    height: auto;
    margin: 14px 722px;
    padding: 14px 10px;
    border-radius: 25px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;

}
.text{
    color: #16890c;
    font-size: 48px;
    font-weight: 700;
}

.underline{
    width: 62px;
    height: 6px;
    background: #16890c;
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
   height: 80px;
   background: #eaeaea;
   border-radius: 6px;
   position: relative;
}

.input img{
    margin: 0px 30px;
}
.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    color: #797979;
    font-size: 19px;
}

.forgot-password{
    padding-left: 17px;
    margin-top: 27px;
    font-size: 17px;
}
.forgot-password span{
    color: #16890c;
    cursor: pointer;
}

.submit-container{
  display: flex;
  gap: 30px;
  margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #16890c;
    border-radius: 28px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    border: none;
  }
  .gray{
    background: #dbdbdbd4;
    color: #676767;
    border: none;
  }


  .error {
    color: red;
    font-size: 10px;
    margin-top: -10px;
    position: absolute;
    bottom: -2px;
    left: 83px;

}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #16890c;
    border-radius: 28px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    border: none;
}
.button:active{
    background: #25ad19;
}
.buttonSubmit{
    display: flex;
    justify-content: center;
    align-items: center;
}
  /*Resonsive styles**/

/* Small devices (phones, 600px and down) */


@media only screen and (min-width: 320px) and (max-width: 375px) {
    
    .login {
        margin: 14px 21px;
        width: 85%;
    }
    .input{
        width: 303px;
    height: 42px;
    }
    .input input {
        height: 41px;
        width: 194px;
        font-size: 17px;
}
.submit {

    width: 128px;}
/* Medium devices (tablets, 601px to 900px) */


@media only screen and (min-width: 601px) and (max-width: 900px) {
    
     .login{
        width: 73%;
        margin: 66px 104px;
    }

}
@media only screen and (min-width: 900px) and (max-width: 1200px) {
   
    .login{
        width: 73%;
        margin: 66px 128px;
    }

}

/* Large devices (desktops, 901px and up) */
@media only screen and (min-width: 1200px) {


}