
.footer-contrainer{
    background: url('/footer.webp');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 500px;
    padding: 75px 0px;
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
    mix-blend-mode: multiply;
}

.footer-links{
    display: flex;
    list-style: none;
    gap: 87px;
    font-size: 20px;

}
.footer-links li{
    cursor: pointer;
}

.footer-social-icon{
    display: flex;
    gap: 20px;
}
.footer-icon-contrainer{
    padding: 10px;
padding-bottom: 6px;

}
.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #15840c;
    font-size: 20px;
}

.footer-copyright hr{
    width: 50%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: rgb(0, 0, 0);
}


@media only screen and (min-width: 300px) and (max-width: 445px){
    .footer-links {
        display: flex;
        justify-content: center;
        gap: 16px;
        font-size: 13px;
        align-items: center;
    }

    .footer-logo {
        width: 50%; /* Set the width of the container to 50% */
        margin: 0 auto; /* Center the container horizontally */
        overflow: hidden; /* Ensure the image stays within its container */
    }
    
    .footer-logo img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: fill;
    }
    .footer-copyright p{
            font-size: 10px;
        }

        .footer-contrainer {
            display: flex;
            flex-direction: column;
            
            align-items: center;
            gap: 21px;
           
            padding: 20px 0px;
            gap: 24px;
            height: auto;
        }

    
}