.service-container{
    background-image: url(/service-section-banner.webp);
    width: 100%;
    height: 601px;
}
.service-container h1{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.card{
    width: 382px;
    height: 450px;
    background-color: white;
    cursor: pointer;
    border: 1px solid white;
}

.card img{
    display: block;
    margin: auto;
    padding-top: 58px;
}

.card-container{
    display: flex;
    gap: 66px;
    margin: 41px 310px;
}

.card:hover {

    border: 2px solid hsl(38, 100%, 50%);
}

.card h2{
    text-transform: capitalize;
    margin: 12px 48px;
}


.card p{
    margin: 15px 62px;
}
.card button{
    background: #daffdc;
    border: none;
    width: 193px;
    height: 55px;
    border-radius: 25px;
    margin: 19px 84px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 650;
    font-family: 'Poppins';
    cursor: pointer;
}

.card button:hover{
    color: #fff;
    background: #f29c1f;
}


/*Resposive Style*/

@media only screen and (min-width: 320px) and (max-width: 375px) {
    .card-container {
        
        gap: 0px;
       
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* Two columns with equal width */
        /* Adjust gap between cards */
        max-width: 952px; /* Maximum width of card container */
        margin: 0 auto; 
    }
    .card img {
        /* display: block; */
        /* margin: auto; */
        width: 16%;
        padding-top: 16px;
    }
    .card h2{
        
            font-size: 14px;
        
    }
    .card p{
        font-size: 8px;
        margin: 0px 45px;
    }
    .card button{
        width: 151px;
        height: 47px;
        margin: 19px 57px;
    }
    .card {
        width: 271px;
        height: 233px;
        margin: 10px 53px;
        
    }
    .service-container {
        height: auto;
    }

}
@media only screen and (min-width: 376px) and (max-width: 426px) {
    .card-container {
        
        gap: 0px;
       
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* Two columns with equal width */
        /* Adjust gap between cards */
        max-width: 952px; /* Maximum width of card container */
        margin: 0 auto; 
    }
    .card img {
        /* display: block; */
        /* margin: auto; */
        width: 16%;
        padding-top: 16px;
    }
    .card h2{
        
            font-size: 14px;
        
    }
    .card p{
        font-size: 8px;
        margin: 0px 45px;
    }
    .card button{
        width: 151px;
        height: 47px;
        margin: 19px 57px;
    }
    .card {
        width: 271px;
        height: 233px;
        margin: 10px 74px;
        
    }
    .service-container {
        height: auto;
    }

 }

@media only screen and (min-width: 426px) and (max-width: 768px) {
    /* .card-container {
        display: flex;
        gap: 66px;
        margin: 37px 34px;
    } */
    .service-container {
        margin: 34px 0px;
        height: auto;
        margin-bottom: 49px;
    }
    .card {
        width: 318px;
        margin: 0px 15px;
        height: 483px;
        margin: 21px 18px
    }
    .card p {
        margin: 16px 0px;
        padding: 0px 27px;
    }
    
    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 49px; 
        max-width: 952px; 
        margin: 0 auto; 
    }
    
    .card button {
        background: #daffdc;
        border: none;
        width: 193px;
        height: 55px;
        border-radius: 25px;
        margin: 17px 60px;
        font-size: 17px;
        text-transform: uppercase;
        font-weight: 650;
        font-family: 'Poppins';
        cursor: pointer;
    }
    
    .card:last-child {
        grid-column: span 2; 
        justify-self: center; 
        align-self: center; 
    }
}
/* Medium devices (tablets, 601px to 900px) */

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .card-container {
        display: flex;
        gap: 66px;
        margin: 37px 34px;
    }

    .card {
        width: 273px;
        height: 477px;
        background-color: white;
        cursor: pointer;
        border: 1px solid white;
    }
    

.card button {
    background: #daffdc;
    border: none;
    width: 132px;
    height: 47px;
    
    margin: 15px 63px;
    font-size: 17px;
   
}
    
.card p {
        margin: 0px 0px;
        padding: 2px 28px;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .card-container {
        display: flex;
        gap: 66px;
        margin: 41px 109px;
    }
}





